<div class="matero-sidebar-header" style="max-width: 24vw;" *ngIf="showHeader">
  <app-branding></app-branding>

  <!-- <mat-slide-toggle *ngIf="showToggle" hideIcon
                    [checked]="toggleChecked"
                    (change)="toggleCollapsed.emit()">
  </mat-slide-toggle> -->
  <!-- <div class="w-full d-block">
    <img src="./assets/images/insysred-logo.png" style="width: 60%; margin: 0 auto" alt="">
  </div> -->
</div>

<div class="matero-sidebar-main scrollbar-none">
  <!-- <app-user-panel *ngIf="showUser"></app-user-panel> -->
  <app-sidemenu [ripple]="showToggle"></app-sidemenu>
</div>
