<mat-card>

  <mat-card-content>

    <div class="row justify-content-center">
      <div class="col-10">
        <h2>{{ watchMode ? 'Ver' : 'Editar' }} Contrato no. 
          <span *ngIf="watchMode">{{ contract.numContrato }}</span>
        </h2>
        <h3>Cliente: {{ cliente.nombres | titlecase }}</h3>
      </div>
    </div>

    <form [formGroup]="editContractForm" class="form-field-full" >

      <div class="row justify-content-center">
        <div class="col-sm-10">

          <mat-form-field>
            <mat-label>Planes</mat-label>
            <mat-select [disabled]="watchMode" formControlName="planId">
              <mat-option  *ngFor="let plan of plans"  [value]="plan.id">{{ plan.descripcion }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-10">

          <mat-form-field>
            <mat-label>Servidor</mat-label>
            <mat-select [disabled]="watchMode" formControlName="servidorId">
              <mat-option *ngFor="let servidor of servidores"  [value]="servidor.id">{{ servidor.ip }}</mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label>Ubicación</mat-label>
            <input [readonly]="watchMode" formControlName="ubicacion" matInput placeholder="ubicacion" required>
            <mat-icon matSuffix>location</mat-icon>

          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-10">

          <mat-form-field>
            <mat-label>IP</mat-label>
            <input [readonly]="watchMode" formControlName="ip" matInput placeholder="ip" required>
            <!-- <mat-icon matSuffix>location</mat-icon> -->
          </mat-form-field>

        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-10">

          <mat-form-field>
            <mat-label>MAC</mat-label>
            <input [readonly]="watchMode" formControlName="mac" matInput placeholder="mac" required>
          </mat-form-field>

        </div>
      </div>

      <div class="row justify-content-center" *ngIf="!watchMode">
        <div class="col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label>Georeferencia</mat-label>
            <input formControlName="georeferencia" matInput placeholder="Georeferencia" required>
            <mat-icon matSuffix>language</mat-icon>

          </mat-form-field>
        </div>
      </div>


      <div class="row justify-content-center">
        <div class="col-sm-10">
          <mat-form-field appearance="outline">
            <mat-label>Duración de meses</mat-label>
            <input [readonly]="watchMode" formControlName="duracionMeses" matInput type="number" placeholder="Meses" required>
            <mat-icon matSuffix>badge</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-10">
          <mat-slide-toggle [disabled]="watchMode" color="primary" formControlName="status">Estado</mat-slide-toggle>
        </div>
      </div>

    </form>

    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <button mat-button color="primary" (click)="closeModal()">
          {{ watchMode ? 'Cerrar': 'Cancelar' }}
        </button>
        <button *ngIf="!watchMode" [disabled]="editContractForm.invalid" mat-button color="primary" type="submit" (click)="editContract()">Guardar</button>
      </div>
    </div>
    
  </mat-card-content>

</mat-card>
