<mat-card>
  <mat-card-header>
    <mat-card-title>{{'title_new_permiso' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
      <div class="row">
      <form [formGroup]="newPermisotForm" class="row form-field-full">
        <div class="col-sm-4">
          <mat-form-field appearance="outline">
            <mat-label>Rol</mat-label>
            <mat-select required formControlName="rol">
              <mat-option>-- Seleccione --</mat-option>
              <mat-option *ngFor="let rol of dataRoles" [value]="rol.id">{{rol.nombre}}</mat-option>
            </mat-select>
            <mat-icon matIconPrefix>view_headline</mat-icon>
            <mat-error *ngIf="newPermisotForm.get('rol')?.invalid">
              {{'validations.required' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-sm-8">
          <section class="row example-section">
            <span *ngFor="let lsModulos of dataModulos" class="col-12 example-list-section">
              <app-modulos-check class="d-flex" [data]="lsModulos" (cambio)="checkModulo($event)"></app-modulos-check>
            </span>
          </section>
        </div>
    </form>
      </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <button mat-icon-button color="primary" title="Guardar" (click)="guardarPermisos()">
          <mat-icon>save</mat-icon>
        </button>
        <button mat-icon-button color="warn" title="Cancelar" (click)="cancelar()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
