<mat-card class="m-0">
  <mat-card-content>
    <div class="row justify-content-center align-items-center">
      <div class="col-5 p-0">
        <h2 class="d-flex align-items-center">
          <!-- <mat-icon matSuffix>visibility</mat-icon> -->
          <span class="m-2">Detalle Conciliación</span>
        </h2>
      </div>
      <div class="col-5 text-right p-0">
        <mat-chip color="primary">
          <span class="font-bold">No. Archivo: </span> {{ archivoConciliacion.id }}
        </mat-chip>
      </div>
    </div>

    <form class="form-field-full p-12">
      <div class="d-flex flex-wrap justify-content-center p-12">
        <div class="col-12 col-lg-12">
          <mat-form-field>
            <mat-label>Nombre Archivo</mat-label>
            <input readonly matInput type="text" value="{{ archivoConciliacion.nombre }}" />
          </mat-form-field>
        </div>

        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>Banco</mat-label>
            <input
              readonly
              matInput
              type="text"
              value="{{ archivoConciliacion.banco?.nombre || '-' }}"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>Estado</mat-label>
            <input readonly matInput type="text" value="{{ archivoConciliacion.estadoCarga }}" />
          </mat-form-field>
        </div>

        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>Fecha Inicio Carga</mat-label>
            <input
              readonly
              matInput
              type="text"
              value="{{ archivoConciliacion.fechaInicioCarga | date: 'dd/MM/yyyy HH:mm:ss' }}"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>Fecha Fin Carga</mat-label>
            <input
              readonly
              matInput
              type="text"
              value="{{ archivoConciliacion.fechaFinCarga | date: 'dd/MM/yyyy HH:mm:ss' }}"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>Registros Exitosos</mat-label>
            <input readonly matInput type="text" value="{{ archivoConciliacion.registrosExito }}" />
          </mat-form-field>
        </div>

        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>Registros Errores</mat-label>
            <input readonly matInput type="text" value="{{ archivoConciliacion.registrosError }}" />
          </mat-form-field>
        </div>

        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>Registros Repetidos</mat-label>
            <input
              readonly
              matInput
              type="text"
              value="{{ archivoConciliacion.registrosRepetido }}"
            />
          </mat-form-field>
        </div>

        <div class="col-12 col-lg-3">
          <mat-form-field>
            <mat-label>Total Registros</mat-label>
            <input readonly matInput type="text" value="{{ archivoConciliacion.registrosTotal }}" />
          </mat-form-field>
        </div>

        <div class="col-12">
          <div class="row tables-container">
            <ng-container *ngIf="dataSourceDetalle.data.length > 0">
              <div class="col-12">
                <p class="titulo">Detalles Exitosos</p>
              </div>
              <div class="col-12">
                <mat-table [dataSource]="dataSourceDetalle" class="bordes">
                  <!-- Name Column -->
                  <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.fecha | date: 'dd/MM/yyyy' }}
                    </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef>Documento</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.documento }} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      ${{ element.valor || 0 | number: '1.2-2' }}
                    </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="referencia">
                    <mat-header-cell *matHeaderCellDef>Referencia</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.referencia }} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsDetalle"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsDetalle"></mat-row>
                </mat-table>
                <mat-paginator
                  #paginator
                  [length]="dataSourceDetalle.data.length"
                  [pageSizeOptions]="[10, 20, 50]"
                  aria-label="Select page"
                ></mat-paginator>
              </div>
            </ng-container>

            <ng-container *ngIf="dataSourceDetalleError.data.length > 0">
              <div class="col-12">
                <p class="titulo">Detalles Repetidos o Errores</p>
              </div>
              <div class="col-12">
                <mat-table [dataSource]="dataSourceDetalleError" class="bordes">
                  <!-- Name Column -->
                  <ng-container matColumnDef="fecha">
                    <mat-header-cell *matHeaderCellDef>Fecha</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      {{ element.fecha | date: 'dd/MM/yyyy' }}
                    </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef>Documento</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.documento }} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="valor">
                    <mat-header-cell *matHeaderCellDef>Valor</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      ${{ element.valor || 0 | number: '1.2-2' }}
                    </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="referencia">
                    <mat-header-cell *matHeaderCellDef>Referencia</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.referencia }} </mat-cell>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="mensaje">
                    <mat-header-cell *matHeaderCellDef>Mensaje Error</mat-header-cell>
                    <!-- above below before -->
                    <mat-cell *matCellDef="let element">
                      <span
                        class="tooltip"
                        #tooltip="matTooltip"
                        [matTooltip]="element.causaError"
                        matTooltipPosition="right"
                      >
                        {{ element.mensajeError || 'DESCONOCIDO' }}
                      </span>
                    </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumnsDetalleError"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumnsDetalleError"></mat-row>
                </mat-table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </form>

    <div class="row justify-content-center">
      <div class="col-10 text-center p-12">
        <button mat-raised-button color="primary" (click)="closeModal()">Cerrar</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
