<mat-card>
  <mat-card-header>
    <mat-card-title>{{'title_new_rol' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <form [formGroup]="newRoltForm" class="form-field-full">
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre Rol" formControlName="nombreRol"
                   required>
            <mat-icon matPrefix>account_box</mat-icon>
            <mat-error *ngIf="newRoltForm.get('nombreRol')?.invalid">
              {{'validations.required' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Descripción Rol" formControlName="descripcionRol"
                   required>
            <mat-icon matPrefix>description</mat-icon>
            <mat-error *ngIf="newRoltForm.get('descripcionRol')?.invalid">
              {{'validations.required' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <button mat-icon-button color="primary" title="Guardar" (click)="guardarDialog()">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button color="warn" title="Cancelar" (click)="closeDialog()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
