<mat-card>
  <mat-card-header>
    <mat-card-title>
      {{ watchMode ? 'Rol' : 'Editar Rol' }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <br>
    <form [formGroup]="editRolForm" class="form-field-full">
      <div class="row">

        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre Rol" formControlName="nombreRol"
                   required>
            <mat-icon matPrefix>account_box</mat-icon>
          </mat-form-field>
        </div>
        <input type="hidden" formControlName="isActive">
<!--
        <div class="col-sm-6">
          <section>
            <mat-slide-toggle color="primary" formControlName='status'>
              <b>Estado</b>
            </mat-slide-toggle>
          </section>
        </div>
-->
        <div class="col-sm-12">
          <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Descripción Rol" formControlName="descripcionRol"
                   required>
            <mat-icon matPrefix>description</mat-icon>
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-10 text-center">
          <button mat-icon-button color="primary" title="Guardar" (click)="guardarRol()">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button color="warn" title="Cancelar" (click)="closeDialog()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
