<mat-card>
  <mat-card-content>
    <div class="m-4 p-4">
      <div class="row">
        <div class="col-11">
          <h2>Comprobantes Movimientos de Cliente</h2>
        </div>
      </div>
      <div class="row" style="margin: 10px !important">
        <div class="col-3 d-flex align-items-center">
          <mat-form-field>
            <mat-label>Nombre cliente</mat-label>
            <input
              matInput
              type="text"
              [formControl]="filtroNombre"
              placeholder="Buscar por nombre cliente"
            />
          </mat-form-field>
        </div>

        <div class="col-3 d-flex-align-items-center">
          <mat-form-field>
            <mat-label>Rango de fecha carga</mat-label>
            <mat-date-range-input [formGroup]="emitionRange" [rangePicker]="picker1">
              <input matStartDate formControlName="start" placeholder="Fecha Inicial" />
              <input matEndDate formControlName="end" placeholder="Fecha Final" />
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-date-range-picker #picker1></mat-date-range-picker>
          </mat-form-field>

          <ng-container *ngIf="emitionRange.controls.start.hasError('matStartDateInvalid')">
            <mat-error>Fecha Inicial Inválida</mat-error>
          </ng-container>

          <ng-container *ngIf="emitionRange.controls.end.hasError('matEndDateInvalid')">
            <mat-error>Fecha Final Inválida</mat-error>
          </ng-container>
        </div>

        <div class="col-1 d-flex align-items-center">
          <button
            (click)="applySearchFilters()"
            mat-mini-fab
            color="primary"
            class="m-8"
            matTooltip="Aplicar filtros"
          >
            <mat-icon>search</mat-icon>
          </button>

          <button
            (click)="clear()"
            mat-mini-fab
            color="primary"
            class="m-8"
            matTooltip="Limpiar filtros"
          >
            <mat-icon>cleaning_services</mat-icon>
          </button>
        </div>
      </div>

      <div class="row m-4">
        <div class="col-12 w-100 m-4">
          <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>No. Archivo</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="cliente">
              <th mat-header-cell *matHeaderCellDef>Cliente</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                {{ element.cliente.nombres || '' }} {{ element.cliente.apellidos || '' }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="contrato">
              <th mat-header-cell *matHeaderCellDef>No. Contrato</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                {{ element.contrato.numContrato }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="nombre_original">
              <th mat-header-cell *matHeaderCellDef>Archivo</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                {{ element.nombreOriginal }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="banco">
              <th mat-header-cell *matHeaderCellDef>Banco</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                {{ element.banco?.nombre || '-' }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="numero_comprobante">
              <th mat-header-cell *matHeaderCellDef>N. Comprobante</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                {{ element.numeroComprobante || '-' }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="valor_comprobante">
              <th mat-header-cell *matHeaderCellDef>Valor Comprobante</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                <ng-container *ngIf="element.valorComprobante !== null">
                  ${{ element.valorComprobante | number: '1.2-2' }}
                </ng-container>
                <ng-container *ngIf="element.valorComprobante === null"> - </ng-container>
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="fecha_comprobante">
              <th mat-header-cell *matHeaderCellDef>Fecha Comprobante</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                {{ (element.fechaComprobante | date: 'dd/MM/yyyy') || '-' }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="aprobacion">
              <th mat-header-cell *matHeaderCellDef>Aprobación</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                {{ element.aprobacion ? 'SI' : 'NO' }}
              </td>
            </ng-container>

            <!-- Symbol Column --> === NCO''
            <ng-container matColumnDef="estadoConciliacion">
              <th mat-header-cell *matHeaderCellDef>Estado Conciliación</th>
              <td
                [hidden]="element.hidden"
                mat-cell
                *matCellDef="let element"
                [class.td-no-conciliado]="element.estadoConciliacion === 'NCO'"
              >
                {{ element.estadoConciliacion }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="fecha_creacion">
              <th mat-header-cell *matHeaderCellDef>Fecha Creación</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                {{ element.fechaCreacion | date: 'dd/MM/yyyy HH:mm:ss' }}
              </td>
            </ng-container>

            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>Acciones</th>
              <td [hidden]="element.hidden" mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center">
                  <button
                    matTooltip="Validar"
                    mat-icon-button
                    class="view-colored-button"
                    class="m-2"
                    (click)="openSeeModal(element)"
                  >
                    <mat-icon>verified_user</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [class]="{ 'tr-aprobado': row.aprobacion, 'tr-pendiente': !row.aprobacion }"
            ></tr>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <mat-paginator
            (page)="handlePageEvent($event)"
            [length]="length"
            [pageSize]="pageSize"
            [disabled]="disabled"
            [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
            [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex"
            aria-label="Select page"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
