.w-100 {
  width: 100% !important;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.view-colored-button{
  color: #1B5E20;
}

.tr-envio-si {
  background-color: #8bc34a;
}

.tr-envio-no {
  background-color: #f4433699;
}