<mat-card class="m-8">
  <mat-card-content>
    <div class="d-flex p-12">
      <div class="col-6">
        <mat-form-field appearance="outline">
          <mat-label>Cliente</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="valorFiltroCliente"
            placeholder="Buscar por número de identificación o nombres del cliente"
          />
        </mat-form-field>
      </div>
      <div class="col-2">
        <button
          (click)="getData()"
          mat-mini-fab
          color="primary"
          class="m-8"
          matTooltip="Aplicar filtros"
        >
          <mat-icon>search</mat-icon>
        </button>

        <button
          (click)="clear()"
          mat-mini-fab
          color="primary"
          class="m-8"
          matTooltip="Limpiar filtros"
        >
          <mat-icon>cleaning_services</mat-icon>
        </button>
      </div>
    </div>
    <div class="row m-4">
      <div class="col-12 w-100 m-4">
        <table mat-table [dataSource]="dataSource">
          <!-- Name Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox
                color="primary"
                [(ngModel)]="indeterminate"
                [disabled]="dataSource.data.length === 0"
              >
                No. Contrato
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox
                color="primary"
                [(indeterminate)]="indeterminate"
                (indeterminateChange)="indeterminateChange($event, element)"
                (change)="change($event, element)"
                [checked]="idContratosSeleccionados.includes(element.numContrato)"
              >
                {{ element.numContrato }}
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef>Identificación</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cliente.identificacion }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cliente.nombres }} {{ element.cliente.apellidos }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="fechaContrato">
            <th mat-header-cell *matHeaderCellDef>Fecha Inicio Contrato</th>
            <td mat-cell *matCellDef="let element">
              {{ element.fechaContrato | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ubicacion">
            <th mat-header-cell *matHeaderCellDef>Ubicación</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ubicacion }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              {{ element.estadoContrato }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <mat-paginator
          (page)="handlePageEvent($event)"
          [length]="length"
          [pageSize]="pageSize"
          [disabled]="disabled"
          [showFirstLastButtons]="showFirstLastButtons"
          [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
          [hidePageSize]="hidePageSize"
          [pageIndex]="pageIndex"
          aria-label="Select page"
        ></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="m-8">
  <mat-card-content>
    <div class="d-flex p-12">
      <div class="col-12">
        <mat-form-field appearance="outline">
          <mat-label>Seleccionar Periodo</mat-label>
          <mat-select [(ngModel)]="periodoSeleccionado" required>
            <ng-container *ngFor="let periodo of periodos">
              <mat-option [value]="periodo">
                <b>{{ periodo.nombre }}</b> ({{ periodo.fechaDesde | date: 'dd/MM/yyyy' }} -
                {{ periodo.fechaHasta | date: 'dd/MM/yyyy' }})
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="row m-4">
      <div class="col-12 m-4">
        <table #tablaSeleccionados mat-table [dataSource]="contratosSeleccionados">
          <!-- Name Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>No. Contrato</th>
            <td mat-cell *matCellDef="let element">
              <mat-checkbox
                color="primary"
                (change)="change($event, element)"
                [checked]="idContratosSeleccionados.includes(element.numContrato)"
              >
                {{ element.numContrato }}
              </mat-checkbox>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="identificacion">
            <th mat-header-cell *matHeaderCellDef>Identificación</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cliente.identificacion }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="cliente">
            <th mat-header-cell *matHeaderCellDef>Cliente</th>
            <td mat-cell *matCellDef="let element">
              {{ element.cliente.nombres }} {{ element.cliente.apellidos }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="fechaContrato">
            <th mat-header-cell *matHeaderCellDef>Fecha Inicio Contrato</th>
            <td mat-cell *matCellDef="let element">
              {{ element.fechaContrato | date: 'dd/MM/yyyy' }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="ubicacion">
            <th mat-header-cell *matHeaderCellDef>Ubicación</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ubicacion }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <td mat-cell *matCellDef="let element">
              {{ element.estadoContrato }}
            </td>
          </ng-container>

          <!-- Header row Group -->
          <ng-container matColumnDef="sin-resultados">
            <th
              mat-header-cell
              *matHeaderCellDef
              [attr.colspan]="displayedColumns.length"
              class="sin-resultados"
            >
              No hay contratos seleccionados.
            </th>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr
            mat-header-row
            *matHeaderRowDef="['sin-resultados']"
            [hidden]="contratosSeleccionados.length > 0"
          ></tr>
        </table>
      </div>
      <div class="col-12 m-4 text-right">
        <button
          [disabled]="!periodoSeleccionado || idContratosSeleccionados.length === 0"
          mat-raised-button
          color="primary"
          type="submit"
          (click)="procesar()"
        >
          Procesar
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
