.mat-mdc-header-cell {
  font-weight: bold;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.view-colored-button {
  color: #1b5e20;
}

.mat-mdc-no-data-row {
  height: 56px !important;
}
